# python packages from the web :)
geopandas
gdal
gspread
numpy
oauth2client
pandas
simplejson
dask-geomodeling
xlrd==1.2.0

# Install ourselves (".") in editable ("-e") mode. Include the test ([test])
# dependencies.
-e .[test]

# Extra development dependencies
black
coveralls
zest.releaser
